.menu {
    position: absolute;
    top: 0;
    z-index: 100;
    left: 50%;
    transform: translateX(-50%);
    &.fixed{
        position: fixed;
    }
  }
  
  .menu__list {
    width: 750px;
    margin: 20px auto;
    text-align: center;
  
    a {
      /*隱藏文字*/
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      display: inline-block;
      width: 180px;
      height: 65px;
      margin: 0 -18px;
      transition: all 0.3s;
  
      &:hover,
      &.active {
        transform: translateY(-10px);
      }
  
      @for $A from 1 through 5 {
        &:nth-child(#{$A}) {
          background: url(btn_menu0#{$A}.png);
        }
      }
    }
  }