.section {
  position: relative;
  width: 100%;
  overflow: hidden;

  @for $S from 1 through 6 {
    &-0#{$S} {
      background: url(bg_section0#{$S}.jpg) no-repeat center;
    }
  }
}

.section__content {
  position: relative;
  box-sizing: border-box;
  width: 750px;
  height: 1080px;
  margin: 0 auto;
  padding: 24px;
  .dec01,
  .dec02,
  .dec03 {
    position: absolute;
  }
  .more_link {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 137px;
    height: 145px;
  }
  .info {
    position: absolute;
    bottom: 0%;
    width: 720px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

#SE01 {
  .dec01 {
    left: 40%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url(section01_dec01.png) no-repeat center;
    width: 1088px;
    height: 721px;
  }

  .dec02 {
    left: 72%;
    top: 71%;
    transform: translate(-50%, -50%);
    background: url(section01_dec02.png) no-repeat center;
    width: 229px;
    height: 416px;
  }
}

#SE02 {
  .dec01 {
    left: 0;
    z-index: 10;
    top: 21%;
    transform: translateY(-50%);
    background: url(section02_dec01.png) no-repeat center;
    width: 356px;
    height: 264px;
  }

  .dec02 {
    top: 35%;
    transform: translateY(-50%);
    background: url(section02_dec02.png) no-repeat center;
    width: 701px;
    height: 596px;
  }

  .dec03 {
    right: -45px;
    bottom: 80%;
  }

  .more_link {
    background: url(btn_section02_more.png) no-repeat center;
  }
}

#SE03 {
  .dec01 {
    left: 50%;
    z-index: 10;
    top: 58%;
    transform: translate(-50%, -50%);
    background: url(section03_dec01.png) no-repeat center;
    width: 605px;
    height: 186px;
  }
  .more_link {
    background: url(btn_section03_more.png) no-repeat center;
  }
}

#SE04 {
  .dec01 {
    left: 50%;
    top: 10%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: url(section04_dec01.png) no-repeat center;
    width: 584px;
    height: 195px;
  }

  .dec02 {
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(section04_dec02.png) no-repeat center;
    width: 648px;
    height: 494px;
  }
  .more_link {
    background: url(btn_section04_more.png) no-repeat center;
  }
}

#SE05 {
  .dec01 {
    left: 50%;
    top: 36%;
    z-index: 10;
    transform: translate(-50%, -50%);
    background: url(section05_dec01.png) no-repeat center;
    width: 1920px;
    height: 712px;
  }
  .more_link {
    bottom: -25px;
    right: -30px;
    background: url(btn_section05_more.png) no-repeat center;
  }
}

#SE06 {
  .more_link {
    bottom: 5%;
    right: 50%;
    transform: translateX(50%);
    background: url(btn_section06_more.png) no-repeat center;
  }
}