body {
    padding: 0;
    width: 100%;
    font-family: 微軟正黑體, PingFangTC-Regular, arial, sans-serif;
    font-size: 30px;
    color: #FFF;
    background: #0A0202;
  
  }
  
.wrapper {
    position: relative;
    max-width: 1920px;
    margin: 0 auto;
  }
  