.tabsBox {
    position: absolute;
    bottom: 0;
    z-index: 15;
    left: 50%;
    transform: translateX(-50%);
  }
  .tabsBox__tabs {
    text-align: center;
  
    .tab {
      cursor: pointer;
      display: inline-block;
      width: 171px;
      height: 171px;
      margin: 0 -20px;
      /*隱藏文字*/
      text-indent: 100%;
      white-space: nowrap;
      overflow: hidden;
      @for $T from 1 through 4 {
        &:nth-child(#{$T}) {
          background: url(tab_btn0#{$T}.png) no-repeat center;
          &.active,
          &:hover {
            background: url(tab_btn0#{$T}_a.png) no-repeat center;
          }
        }
      }
    }
  }
  .tabsBox__panels {
    background: url(bg_tabspanel.png) no-repeat center;
    margin: 0 auto;
    width: 586px;
    height: 229px;
    .panel {
      padding: 30px 55px;
      // display: none;
    }
  }
  